
TransportationProject/.vs/config/applicationhost.config
TransportationProject/.vs/TransportationProject/v15/.suo
TransportationProject/.vs/TransportationProject/v15/Server/sqlite3/db.lock
TransportationProject/.vs/TransportationProject/v15/Server/sqlite3/storage.ide
TransportationProject/.vs/TransportationProject/v15/Server/sqlite3/storage.ide-shm
TransportationProject/.vs/TransportationProject/v15/Server/sqlite3/storage.ide-wal
TransportationProject/bin/TransportationProject.dll
TransportationProject/bin/TransportationProject.dll.config
TransportationProject/bin/TransportationProject.pdb
TransportationProject/bin/TransportationProjectDataLayer.dll
TransportationProject/bin/TransportationProjectDataLayer.dll.config
TransportationProject/bin/TransportationProjectDataLayer.pdb
