
TransportationProject/.vs/config/applicationhost.config
TransportationProject/.vs/TransportationProject/v15/.suo
TransportationProject/.vs/TransportationProject/v15/Server/sqlite3/db.lock
TransportationProject/.vs/TransportationProject/v15/Server/sqlite3/storage.ide
TransportationProject/.vs/TransportationProject/v15/Server/sqlite3/storage.ide-shm
TransportationProject/.vs/TransportationProject/v15/Server/sqlite3/storage.ide-wal
TransportationProject/bin/TransportationProject.dll
TransportationProject/bin/TransportationProject.dll.config
TransportationProject/bin/TransportationProject.pdb
TransportationProject/bin/TransportationProjectDataLayer.dll
TransportationProject/bin/TransportationProjectDataLayer.dll.config
TransportationProject/bin/TransportationProjectDataLayer.pdb
*.pdb
*.CopyComplete
*.pdb
*.cache
TransportationProject/obj/Debug/TransportationProject.dll
TransportationProject/obj/Debug/TransportationProject.csproj.FileListAbsolute.txt
TransportationProject/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TransportationProject/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TransportationProject/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TransportationProjectDataLayer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TransportationProjectDataLayer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TransportationProjectDataLayer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TransportationProjectDataLayer/obj/Debug/TransportationProjectDataLayer.csproj.FileListAbsolute.txt
TransportationProjectDataLayer/obj/Debug/TransportationProjectDataLayer.dll
TransportationProjectDataLayer/bin/Debug/TransportationProjectDataLayer.pdb
TransportationProjectDataLayer/bin/Debug/TransportationProjectDataLayer.dll
TransportationProjectDataLayer/bin/Debug/TransportationProjectDataLayer.dll
TransportationProjectDataLayer/bin/Debug/TransportationProjectDataLayer.pdb
TransportationProjectDataLayer/bin/Debug/TransportationProjectDataLayer.pdb
TransportationProjectDataLayer/bin/Debug/TransportationProjectDataLayer.dll
