.rightWeightDialog {
    position: absolute;
    right: 0px;
}
.leftWeightDialog {
    position: absolute;
    left: 10px;
    border-right: thin solid #d3d3d3;
	padding-right: 10px; 
}
.weightCells {
    border:solid;
    border-color: lightgrey;
}
#arrowGridScrollButtons{

    }
#rightArrowGridScroll {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 15px;
    right: 90px;
    display: inline-block;
    z-index: 1;
}

#leftArrowGridScroll {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 15px;
    right: 128px;
    display: inline-block;
    z-index: 1;
}

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 25px;
    right: 50px;
    display: inline-block;
    z-index: 1;
}
.scrollup:hover {
    cursor: help;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        /*background-color: #c7d1d6;*/
    }


.scrollupAdmin {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 25px;
    right: 50px;
    display: inline-block;
    z-index: 1;
}
.scrollupAdmin:hover {
    cursor: help;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        /*background-color: #c7d1d6;*/
    }
    
#arrowGridScrollButtonsAdmin{

    }
#rightArrowGridScrollAdmin{
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 15px;
    right: 90px;
    display: inline-block;
    z-index: 1;
}

#leftArrowGridScrollAdmin{
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 15px;
    right: 128px;
    display: inline-block;
    z-index: 1;
}
.detailBox {
    border: 1px solid #d3d3d3;
    padding: 5px 0;    
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.tooltip {
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 125px;
    background-color: #e3f5ff;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;    
    border: .5px solid #2F4F4F;
    border-radius: 5px;
    /* Position the tooltip
    display:block;
    bottom: 2em;
    left: 0; */
    position:absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.toolTipForScroll {
}

.toolTipForScroll .toolTipTextForScroll {
    visibility: hidden;
    width: 125px;
    background-color: #e3f5ff;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;    
    border: .5px solid #2F4F4F;
    border-radius: 5px;
    /* Position the tooltip*/
    display:block;
    bottom: 3em;
    left: 0; 
    position:absolute;
    z-index: 1;
}

.toolTipForScroll:hover .toolTipTextForScroll {
    visibility: visible;
}


/*Master Page Menu Items*/
ul[role="menubar"]{
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

ul li[role="menuitem"] {
    display: inline;
    list-style: none;
    padding-left: 15px;
}

ul li[role="menuitem"] a {
    background: none;
    color: #999;
    text-decoration: none;
}

ul li[role="menuitem"] a:hover {
    color: #333;
    text-decoration: none;
}
.mobileLbl {
    font-size: .75em;
}





/*All Grids delete button show 
.ui-iggrid-button-icon-only, .ui-iggrid-deletebutton {
    display: inline-block !important; 
} */
/*All Grids*/

/*.Mi4_Hidden{
    visibility: hidden;
}*/
.cl_added_iggrid_fontresize{ font-size: 10px !important; }
 .ui-widget-content { font-size:12px !important;}
.ui-ig-record ui-iggrid-record{ height: 10px !important; }         
.ui-ig-altrecord ui-iggrid-altrecord{ height: 10px !important;}

#inspectionLabels {font-weight:bold}

/*Add new row styling - make row taller */
td.ui-iggrid-addrow.ui-widget-header{ height: 32px !important;} 

.Mi4_Right
{
    float:right;
}
/*All Grids undo icon*/
.Mi4_CrossIcon
{
     background-image:url(../Images/no_32.png); 
     width:32px;
     height:32px;
     /*position: absolute;*/
     margin-left: 10px;
     border: 1px solid grey;
     display: inline-block;
     /*left:50%;
     margin-left:-8px;*/
}

.Mi4_CrossIcon:hover
{
    background-color: yellow
}

.Mi4_CheckIcon
{
     background-image:url(../Images/ok_32.png); 
     width:32px;
     height:32px;
     /*position: absolute;*/
     margin-left: 10px;
     border: 1px solid grey;
     display: inline-block;
     /*left:50%;
     margin-left:-8px;*/
}

.Mi4_CheckIcon:hover
{
    background-color: yellow
}

.Mi4_undoIcon
{
     background-image:url(../Images/html-editor-sprite.png); 
     background-position-x:0; 
     background-position-y:-48px; 
     width:16px;
     height:16px;
     position: absolute;
     margin-left: 10px;
     border: 1px solid grey;
     /*left:50%;
     margin-left:-8px;*/
}
.Mi4_undoIcon:hover
{
    background-color: yellow
}

/*TrailerOver*/
#dwScheduleDiv1
{
    font-size:large;
    font-weight:700;
}
.ui-iggrid th,.ui-iggrid th.ui-state-default,.ui-iggrid th.ui-state-hover,.ui-iggrid th.ui-state-active{text-align:left;white-space:normal;height:1.6em} /*AJ:Changed white-space from nowrap*/

.redCell 
{
    background-color:red;
    color:red;
}
.orangeCell 
{
    background-color:orange;
    color:orange;
}
.yellowCell 
{
    background-color:yellow;
    color:yellow;
}
/*Hide infragistics upload button "upload file"*/
 .ui-igstartupbrowsebutton, .ui-igupload .ui-igupload-browsebutton 
    {
        background-color: Red !important;
        background: none;
        border: 0px;
        /*font-weight: normal;*/
        text-shadow: 0 1px 0 rgba(83, 83, 83, 0.8);
        display: none;
    }


 /*Wait And Dock Overview, TrailerOverview*/
 .needsTruckMove{
    background-color: lightcoral !important;
    width: 100%;
    height: 100%; 
    display:inline-block;

}

  .needsTruckMoveGreen{
    background-color: lightgreen !important;
    width: 100%;
    height: 100%; 
    display:inline-block;

}/*Inspection Mobile*/

 .inspectionquestions
{
    font-size: 1.25em
}

.dv_nav
{
    width: 100%;
    height: 10%;
    background: rgba(25, 25, 25, 0.85); 
 clear:both;  
}

.dv_questionsArea
{
    width: 100%;
    height: 70%;
}

.rad_question
{
    border: 0px;
    width: 100%;
    height: 2em;
}

.btn_nav
{
     width: 100%;
    height: 100%;
    line-height: 1px;
    top: 70px;
    background: rgba(25, 25, 25, 0.85); 
    color: white;
    font-size: 1.2em !important;
}


/*End Inspection Mobile*/

 /*Inspection*/
.needsTestInput{
    background-color: lightcoral !important;
    width: 100%;
    height: 100%; 
    display:inline-block;

}
.tblTruckDetailsStyle {
    width:100%;
}
.tblTruckDetailsStyle th, .tblTruckDetailsStyle td  {
    border: 1px solid #888;
    border-collapse: collapse;
}
/*.tblTruckDetailsStyle td {
    border: 1px solid #888;
    border-collapse: collapse;
}*/
.tblTruckDetailsStyle th, .tblTruckDetailsStyle td {
    padding: 5px;
    text-align: left;
}
/*.tblTruckDetailsStyle td {
    padding: 5px;
    text-align: left;
}*/
.tblTruckDetailsStyle tr:nth-child(even) {
    background-color: #eee;
}
.tblTruckDetailsStyle tr:nth-child(odd) {
   background-color:#fff;
}
.tblTruckDetailsStyle th	{
    background-color: #888;
    color: white;
}

#AdminDeleteButton {
    right: 0;
    float:right; 
    position: absolute;
}
#AdminDeleteButton > input{

}
#tblNewInspections {
    width: 50%
}
#tblNewInspections tr:nth-child(1) {
    width: 60%
}
#tblNewInspections tr:nth-child(2) {
    width: 40%
}

.radButtonLarger
{   margin: 0px; 
    width: 2em;
    height: 2em;
    background: none !important; 
}
  /*AdminPage Related */

#AdminMainPageMenuPanel
{
        float:left;
        height: 100%;
        width:15%;
}

#AdminMainPageContent
{
        float:left;
        height:100%;
        width:100%;
}
.AdminInnerContent
{   height: 100%;
    width: 100%;
}
/*Grid Column Related*/
.ColumnContentExtend
{
    width: 100%  !important; 
}
.ContentExtend
{
    width: 100%  !important; 
}
#gridFiles
{
    width: 100%  !important; 
}
 /*Progress Circle; Modal */
#progressBackgroundFilter {position:fixed;top:0px;bottom:0px;left:0px;right:0px;overflow:hidden;padding:0;margin:0;background-color:#000;filter:alpha(opacity=50);opacity:0.5;z-index:1000;}
#processMessage {position:fixed;top:30%;left:43%;padding:10px;width:14%;z-index:1001;background-color:#fff;border:solid 1px #000;}

.yellowCell
{
    background-color: yellow !important;
    height: 100%;
    width: 100%;
    display:inline-block;
}
.orangeCell
{
    background-color: orange !important;
    height: 100%;
    width: 100%;
    display:inline-block;
}
.redCell
{
    background-color: red !important;
    height: 100%;
    width: 100%;
    display:inline-block;
}
.normalCell
{
    height: 100%;
    width: 100%;
    display:inline-block;
}
/*.ui-iggrid table tbody td
{
        padding: 0px
}*/


.logWindow { /*todo change background color based on color scheme */
             float:right;
             background-color:white;
             /*position: relative;
                 border: 1px solid blue;*/
             display: inline-block;
             overflow: visible;
             position: absolute;
             width: 350px;
             height: auto;
   /* top: 155px;
        overflow-y: auto;*/
    right: 8px;
    z-index: 3;
    font-size: 85%;
    border-style: solid;
     border-color: yellow;
}
.logWindow:hover {
    z-index: 2;
}
.logTitleBar{
    background: #FEFEFE;
    height: 25px;
    width: 350px;
}
.logTableWrapper { 
    width: auto;
    /*overflow-y: auto;*/ 
    width: 100%; 
    padding: 0.5em; 
    padding-bottom: 0em;
    overflow: auto; 
    bottom: 305px;
    right: 5px;
    background-color: white;
}
#logButton {
    width: 25px;
    height: 23px;
    float: left;
    cursor: pointer;
    width: auto;
}

.Mi4_divButton {
    display: inline-block;
    color: #c6c6c6;
    border: 1px solid #CCC;
    background: #7aa3a3;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor: pointer;
    vertical-align: middle;
    padding: 5px;
    text-align: center;
}

.Mi4_divButton:active {
    color: red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

@media (max-width:750px) {
    .ui-iggrid-header {
        text-align: center !important;
        font-size: 85%;
    }

    .ui-iggrid .ui-iggrid-tablebody td {
        font-size: 75%;
    }

    /*for inspection page*/
    #t01 {
        min-width: 75%;
        max-width: 100%;
    }

        #t01 th {
            font-weight: normal;
            font-size: 85%;
        }

        #t01 td {
            font-size: 55%;
        }

    #dvTrailerInspections {
        font-size: 75%;
    }

    #dvLocStatDisabled {
        font-size: 75%;
    }
    /*for truck log*/
    #logWindow {
        border:1px solid black;
    }
    #logButton {
        height:24px; 
        width:24px; 
        font-size: 10px;
    }
    #tLogMax {
        height:24px; 
        width:24px;
        display:none;
    }
    #tLogMini {
        height:24px; 
        width:24px;
    }
    .logTitleBar {
        font-size: 15px;
    }
    #logTableWrapper {
        /*background-color:lightblue; 
        opacity:0.9;*/
    }
    /*.arrowButton { 
        background-image: url(Images/triangleDown.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 16px;
  width: 16px;
  border: none;
    }*/

   /*Style grid row elements to have smaller font and smaller row/cell height*/

    /*unfinished mobile menu styling*/

    #menuIcon {
    width: 40px;
    height: 40px;
        /*width: 10%;
        height: auto;*/
    }
ul[role="menubar"]{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    font-size: .75em;
    font-weight: 600;
}

ul li[role="menuitem"] {
    list-style: none;
}

ul li[role="menuitem"] a {
    background: none;
    color: #999;
    text-decoration: none;
}

ul li[role="menuitem"] a:hover {
    color: #333;
    text-decoration: none;
}
}


@media (max-width:500px) {
    .rad_question {
        border: 0px;
        width: 33%;
        height: 1.25em;
    }

    .ui-iggrid .ui-iggrid-tablebody td {
        font-size: 100%;
        height: 50px;
    }

}


.linkButton {
    display: inline-block;
    width: 115px;
    height: 25px;
    background-color: #0A5E82 !important;
    padding: 10px !important;
    text-align: center !important;
    border-radius: 5px;
    color: white !important;
    font-weight: bold !important;
}